{% extends 'store/base.html' %}



{% block content %}
    <h1>Your cart!</h1>
        {% if len > 0 %}
        <table class="table">
            <tr>
                <th>S. No.</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for cart in carts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cart.item }}</td>
                <td>{{ cart.quantity }}</td>
                <td>Rs. {% widthratio cart.item.sell_price 1 cart.quantity %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>Rs. {{total}}</td>
            </tr>
            
        </table>
        {% else %}
            <label>No items in the cart</label>
        {% endif %}

{% endblock %}