{% extends 'store/base.html' %}



{% block content %}
    <h1>Hello {{user}}</h1>

        <li>{{item.name}}</li>
        <table class="table">
            <tr>
                <th>S. No.</th>
                <th>Item Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for cart in carts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cart.item }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{% widthratio cart.item.sell_price 1 cart.quantity %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>
                    {% with a=5 b=7 %}
                        {{ a|add:b }}
                    {% endwith %}
                </td>
            </tr>
            
        </table>
{% endblock %}